# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Environment variables
.env
.env.*

# Logs
*.log

# Large/raw datasets
data/creditcard.csv
data/risk_results.csv

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.vite/

# Build/cache
*.egg-info/
dist/
build/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Temporary files
*.tmp
*.temp

# Secrets
*.pem
*.key
